@import url(global.css);

nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--surface-color);
}

#lupa{
    width: 32px;
    height: 32px;
}

nav a{
    display: flex;
    align-items: center;
    font: var(--text-md);
    color: var(--text-color-secondary);
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 24px;
}

#profile-pic{
    width: 40px;
    height: 40px;
}

#about-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--surface-color);
}

#profile{
    display: flex;
    align-items: center;
}

#profile img{
    padding-right: 32px;
    object-fit: cover;
}

#profile{
    display: flex;
    max-width: 592px;
    gap: 8px;
}

#profile-info{
    display: flex;
    flex-direction: column;
    width: 382px;
}

#profile-info h1{
    padding-bottom: 8px;
    font: var(--text-lg);
    color: var(--text-color-primary);
}

#info{
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.info-item{
    display: flex;
    align-items: center;
    gap: 8px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}

main img{
    width: 286px;
    height: 286px;
    object-fit: cover;
}

footer{
    display: flex;
    padding-block: 16px;
    gap: 24px;
}

footer span:nth-child(1) {
  margin-right: auto;
}